if TARGET_FB_AST_GEN_5
config SYS_BOARD
	string "board name"
	default "ast"

config SYS_VENDOR
	string "board vendor"
	default "fb-obmc"

config SYS_CONFIG_NAME
	string "board configure name"
	default ""
endif
