if TARGET_FACEBOOK_ELBERT

config SYS_BOARD
	default "facebook_elbert"

config SYS_VENDOR
	default "aspeed"

config SYS_CONFIG_NAME
	string "board configuration name"
	default "facebook_elbert"

config ABR_BOOT
    bool "enable/disable abr boot flag"
	default "n"
endif
