if ARCH_ASPEED

config SYS_ARCH
	default "arm"

config SYS_SOC
	default "aspeed"

choice
	prompt "Aspeed SoC select"
	depends on ARCH_ASPEED
	default ASPEED_AST2500

config ASPEED_AST2500
	bool "Support Aspeed AST2500 SoC"
	select CPU_ARM1176
	select SUPPORT_SPL
	help
	  The Aspeed AST2500 is a ARM-based SoC with arm1176 CPU.
	  It is used as Board Management Controller on many server boards,
	  which is enabled by support of LPC and eSPI peripherals.

config ASPEED_AST2600
	bool "Support Aspeed AST2600 SoC"
	select CPU_V7A
	select CPU_V7_HAS_NONSEC
	select ARCH_SUPPORT_PSCI
	select SYS_ARCH_TIMER
	select SUPPORT_SPL
	help
	  The Aspeed AST2600 is a ARM-based SoC with Cortex-A7 CPU.
	  It is used as Board Management Controller on many server boards,
	  which is enabled by support of LPC and eSPI peripherals.
endchoice

config ASPEED_GEN_5
	bool "ASPEED G5 platform"

config ARCH_AST2500
	bool "TEMP used to migrate from ASPEED AST2500 SDK to upstream"

config ASPEED_PALLADIUM
	bool "Aspeed palladium for simulation"
	default n
	help
	  Say Y here to enable palladium build for simulation.

	  This is mainly for internal verification and investigation
	  on HW design. If not sure, say N.

config SECURE_BOOT
	bool "Support Aspeed secure boot feature"
	depends on SPL && ASPEED_AST2600
	select POSITION_INDEPENDENT
	select ENABLE_ARM_SOC_BOOT0_HOOK
	select FIT_SIGNATURE
	help
	  This option enables the support for secure boot.

config SECURE_BOOT_TEXT_BASE
	hex "Secure boot text base"
	depends on SECURE_BOOT
	default 0x90000000
	help
	  The address in memory where the secure boot verification
	  on U-Boot image will be performed.

source "arch/arm/mach-aspeed/ast2500/Kconfig"
source "arch/arm/mach-aspeed/ast2600/Kconfig"

endif
