if TARGET_EVB_AST2500

config SYS_TEXT_BASE
	default 0x00000000

config SYS_BOARD
	default "evb_ast2500"

config SYS_VENDOR
	default "aspeed"

config SYS_CONFIG_NAME
	string "board configuration name"
	default "evb_ast2500"

endif
