config RESET_AST2400
        bool "Reset controller driver for ASPEED AST2400 SoCs"
        depends on DM_RESET && WDT_ASPEED && ASPEED_AST2400
        default y if ARCH_ASPEED
        help
          Support for reset controller on ASPEED SoC. This controller uses
          watchdog to reset different peripherals and thus only supports
          resets that are supported by watchdog. The main limitation though
          is that some reset signals, like I2C or MISC reset multiple devices.

config RESET_AST2500
        bool "Reset controller driver for ASPEED AST2500 SoCs"
        depends on DM_RESET && WDT_ASPEED && ASPEED_AST2500
        default y if ARCH_ASPEED
        help
          Support for reset controller on ASPEED SoC. This controller uses
          watchdog to reset different peripherals and thus only supports
          resets that are supported by watchdog. The main limitation though
          is that some reset signals, like I2C or MISC reset multiple devices.

config RESET_AST2600
        bool "Reset controller driver for ASPEED AST2600 SoCs"
        depends on DM_RESET && WDT_ASPEED && ASPEED_AST2600
        default y if ARCH_ASPEED
        help
          Support for reset controller on ASPEED SoC. This controller uses
          watchdog to reset different peripherals and thus only supports
          resets that are supported by watchdog. The main limitation though
          is that some reset signals, like I2C or MISC reset multiple devices.

