source "board/aspeed/ast-g5/Kconfig"

config SYS_TEXT_BASE
	default 0x20015000 if ASPEED_RECOVERY_BUILD
	default 0x28084000 if !ASPEED_RECOVERY_BUILD

if TARGET_FBY3

config SYS_CONFIG_NAME
	default "fby3"

endif 

if TARGET_FBCMM

config SYS_CONFIG_NAME
	default "fbcmm"

endif

if TARGET_FBELBERT
config SYS_CONFIG_NAME
	default "fbelbert"
endif

if TARGET_FBY2
config SYS_CONFIG_NAME
	default "fby2"
endif

