source "board/aspeed/ast-g5/Kconfig"
source "board/aspeed/ast-g4/Kconfig"

choice
	prompt "Network configuration"
	default ASPEED_NET_NCSI
	help
	  Select Aspeed network configuration

config ASPEED_NET_PHY
	bool "Use a direct attached PHY"

config ASPEED_NET_NCSI
	bool  "Use a network controller attached via NSCI"

endchoice
