if TARGET_FACEBOOK_FBDARWIN

config SYS_BOARD
	default "facebook_fbdarwin"

config SYS_VENDOR
	default "aspeed"

config SYS_CONFIG_NAME
	string "board configuration name"
	default "facebook_fbdarwin"
endif
