if TARGET_AST_G5

config SYS_CPU
	default "arm1176"

config SYS_BOARD
	default "ast-g5"

config SYS_VENDOR
	default "aspeed"

config SYS_SOC
	default "aspeed"

config SYS_CONFIG_NAME
	default "ast-g5"

endif
