if ASPEED_GEN_5
config SYS_BOARD
	string "board name"
	default "ast-g5"

config SYS_VENDOR
	string "board vendor"
	default "aspeed"

config SYS_TEXT_BASE
	default 0x20015000 if ASPEED_RECOVERY_BUILD
	default 0x28084000 if !ASPEED_RECOVERY_BUILD

config SYS_CONFIG_NAME
	string "board configure name"
	default ""
endif

