if ASPEED_AST2500

config SYS_CPU
	default "arm1176"

config TARGET_EVB_AST2500
	bool "Evb-AST2500"
	help
	  Evb-AST2500 is Aspeed evaluation board for AST2500 chip.
	  It has 512M of RAM, 32M of SPI flash, two Ethernet ports,
	  4 Serial ports, 4 USB ports, VGA port, PCIe, SD card slot,
	  20 pin JTAG, pinouts for 14 I2Cs, 3 SPIs and eSPI, 8 PWMs.

config TARGET_FBTP
	bool "Support Facebook's OpenBMC TP"
	select SUPPORT_SPL

config TARGET_FBSP
	bool "Support Facebook's OpenBMC SP"
	select SUPPORT_SPL

config TARGET_FBAL
	bool "Support Facebook's OpenBMC AL"
	select SUPPORT_SPL

config TARGET_FBEP
	bool "Support Facebook's OpenBMC EP"
	select SUPPORT_SPL

config TARGET_FBY2
	bool "Support Facebook's OpenBMC Y2"
	select SUPPORT_SPL

config TARGET_FBY3
        bool "Support Facebook's OpenBMC Y3"
        select SUPPORT_SPL

config TARGET_FBWEDGE400
	bool "Support Facebook's Openbmc Wedge400"

config TARGET_FBCMM
	bool "Support Facebook's Openbmc CMM"

source "board/aspeed/evb_ast2500/Kconfig"
source "board/fb-obmc/Kconfig"

endif
