// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (c) Meta Platforms, Inc. and affiliates.
 */

/dts-v1/;

#include "ast2600-u-boot.dtsi"

/ {
	memory {
		device_type = "memory";
		reg = <0x80000000 0x80000000>;
	};

	chosen {
		stdout-path = &uart1;
	};

	aliases {
		spi0 = &fmc;
		ethernet0 = &mac3;
	};

	cpus {
		cpu@0 {
			clock-frequency = <800000000>;
		};
		cpu@1 {
			clock-frequency = <800000000>;
		};
	};
};

&uart1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&wdt1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&mac3 {
	status = "okay";

	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii4_default &pinctrl_mac4link_default>;

	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&fmc {
	status = "okay";

	flash@0 {
		compatible = "spi-flash", "sst,w25q256";
		status = "okay";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};

	flash@1 {
		compatible = "spi-flash", "sst,w25q256";
		status = "okay";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};
};

&sdrammc {
	clock-frequency = <400000000>;
};

&emmc_slot0 {
	status = "okay";
	bus-width = <4>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emmc_default>;
};

&scu {
        /* In runBMC of same design, Lassen, it sees some yield loss where
         * certain cards fail to ping in u-boot but can ping in Linux. Apply
         * same TX delay on RGMII in u-boot to match Linux setting. Sandia has
         * not seen the issue yet. This is a prevention.
         */
        mac2-clk-delay = <0x08 0x04
                          0x08 0x04
                          0x08 0x04>;
        mac3-clk-delay = <0x08 0x04
                          0x08 0x04
                          0x08 0x04>;
};

#include <dt-bindings/gpio/aspeed-gpio.h>
/ {
	smb_fpga_boot {
		u-boot,dm-pre-reloc;
		compatible = "smb_fpga_boot";
		/* AST2600:
		 * GPIO controller 0 is at 0x1e780000.
		 * GPIO bank P starts from 120 (0x078).
		 *
		 * From u-boot shell:
		 * GPIO P2 is 120 + 2 = 122 -> gpio status gpio@1e780000122
		 * GPIO P3 is 120 + 3 = 123 -> gpio status gpio@1e780000123
		 */
		smb_cpld_sel-gpios = <&gpio0 ASPEED_GPIO(P, 2) GPIO_ACTIVE_HIGH>;
		smb_spif_sel-gpios = <&gpio0 ASPEED_GPIO(P, 3) GPIO_ACTIVE_HIGH>;
	};
};
