/dts-v1/;

#include "ast2600-u-boot.dtsi"

/ {
        model = "AST2600 FPGA";
        compatible = "aspeed,ast2600-fpga", "aspeed,ast2600";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x20000000>;
	};

	chosen {
		stdout-path = &uart5;
	};

	aliases {
		spi0 = &fmc;
		ethernet0 = &mac0;
	};

	cpus {
		cpu@0 {
			clock-frequency = <50000000>;
		};
		cpu@1 {
			clock-frequency = <50000000>;
		};
	};
};

&uart5 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&sdrammc {
	clock-frequency = <400000000>;
};

&wdt1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&wdt2 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&wdt3 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&mdio {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mdio1_default>;
	#address-cells = <1>;
	#size-cells = <0>;
	ethphy0: ethernet-phy@0 {
		reg = <0>;
	};	
};

&mac0 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&ethphy0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default>;
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};

	flash@1 {
                status = "okay";
                spi-max-frequency = <50000000>;
                spi-tx-bus-width = <2>;
                spi-rx-bus-width = <2>;
        };
};

&emmc_slot0 {
	status = "okay";
	bus-width = <4>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emmc_default>;
};

&i2c0 {
        status = "okay";
};

&i2c3 {
        status = "okay";

};

&i2c7 {
        status = "okay";

};
