/dts-v1/;

#include "ast2500-u-boot.dtsi"

/ {
        model = "AST2500 EVB";
        compatible = "aspeed,ast2500-evb", "aspeed,ast2500";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x20000000>;
	};

	chosen {
		stdout-path = &uart5;
	};

	aliases {
		spi0 = &fmc;
		spi1 = &spi1;
		ethernet0 = &mac0;
		ethernet1 = &mac1;
	};
};

&uart5 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&sdrammc {
	clock-frequency = <400000000>;
};

&wdt1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&wdt2 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&wdt3 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&mac0 {
	status = "okay";
	phy-mode = "rgmii";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mac1link_default &pinctrl_mdio1_default>;
};

&mac1 {
	status = "okay";
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mac2link_default &pinctrl_mdio2_default>;
};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};

	flash@1 {
                status = "okay";
                spi-max-frequency = <50000000>;
                spi-tx-bus-width = <2>;
                spi-rx-bus-width = <2>;
        };
};

&spi1 {
	status = "okay";
	flash@0 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_spi1_default>;
		status = "okay";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};
	flash@1 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_spi1_default &pinctrl_spi1cs1_default>;
		status = "okay";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};
};

&sdhci_slot0 {
	status = "okay";
	bus-width = <4>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sd1_default>;
};

&sdhci_slot1 {
	status = "okay";
	bus-width = <4>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sd2_default>;
};

&i2c3 {
        status = "okay";

};

&i2c7 {
        status = "okay";

};
