/dts-v1/;
#include <dt-bindings/gpio/aspeed-gpio.h>
#include <dt-bindings/wdt/aspeed.h>
#include "ast2500-u-boot.dtsi"
/ {
	aliases {
		spi0 = &fmc;
	};
};

&wdt1 {
	u-boot,dm-pre-reloc;
	wdtrst = <WDTRST_POLARITY_H WDTRST_OPEN_DRAIN 0xFF>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdtrst1_default>;
};

&i2c  {
	u-boot,dm-pre-reloc;
};

&fmc {
	status = "okay";
	flash@0 {
		compatible = "spi-flash";
		status = "okay";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};

	flash@1 {
		compatible = "spi-flash";
		status = "okay";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
    };
};

&syscon {
	u-boot,dm-pre-reloc;
};

&pinctrl {
	u-boot,dm-pre-reloc;
};

&gpio {
	u-boot,dm-pre-reloc;
};



