/dts-v1/;
#include <dt-bindings/gpio/aspeed-gpio.h>
#include <dt-bindings/wdt/aspeed.h>
#include "ast2500-u-boot.dtsi"

/ {
	config {
		/* short term solution not enable bootsecure option,
		 * hardcode the bootcmd list in fdt, which will be verfied by SPL.
		 * long term shall enable bootsecure option and
		 * have vbs command to implement all verified-boot
		 */
		bootsecure = <0>;
#ifdef CONFIG_ASPEED_RECOVERY_BUILD
		bootcmd = "setenv verify no; bootm 201A0000";
#else
		bootcmd = "vbs oscheck; bootm 281A0000; vbs 6 60; setenv verify no; bootm 201A0000";
#endif
	};

	aliases {
		spi0 = &fmc;
	};
};

&wdt1 {
	u-boot,dm-pre-reloc;
	wdtrst = <WDTRST_POLARITY_H WDTRST_OPEN_DRAIN 0xFF>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdtrst1_default>;
};

&i2c  {
	u-boot,dm-pre-reloc;
};

&fmc {
	status = "okay";
	flash@0 {
		compatible = "spi-flash";
		status = "okay";
		spi-max-frequency = <40000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
	};

	flash@1 {
		compatible = "spi-flash";
		status = "okay";
		spi-max-frequency = <40000000>;
		spi-tx-bus-width = <2>;
		spi-rx-bus-width = <2>;
    };
};

&syscon {
	u-boot,dm-pre-reloc;
};

&pinctrl {
	u-boot,dm-pre-reloc;
};

&gpio {
	u-boot,dm-pre-reloc;
};

&pinctrl_wdtrst1_default {
	u-boot,dm-pre-reloc;
};


