# Target
CONFIG_TARGET_FBEP=y
CONFIG_DEFAULT_DEVICE_TREE="fbep"

# ARCH choices
CONFIG_ARM=y
CONFIG_ARCH_ASPEED=y
CONFIG_ASPEED_AST2500=y

# temp
CONFIG_ARCH_AST2500=y


# common configuration
CONFIG_DM_RESET=y
CONFIG_BAUDRATE=57600
CONFIG_NR_DRAM_BANKS=1
CONFIG_SYS_NS16550=y
CONFIG_ASPEED_NET_PHY=y
CONFIG_CMD_IMI=y
CONFIG_OF_LIBFDT=y
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_OF_SEPARATE=y
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=n
CONFIG_FIT_SIGNATURE=y
CONFIG_DM=y
CONFIG_DM_I2C=y
CONFIG_CMD_I2C=y
CONFIG_TPM=y
CONFIG_CMD_TPM=y
CONFIG_TIMER=y
CONFIG_MISC=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_SPI_FLASH=y
CONFIG_DM_SPI_FLASH=y
# CONFIG_SPI_FLASH_MTD=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_CMD_SF=y

# SPL (ROM) feature configuration
CONFIG_SPL=y
CONFIG_SPL_FIT=y
CONFIG_SPL_TINY_FIT=y
CONFIG_SPL_LOAD_FIT=y
CONFIG_SPL_DM=y
CONFIG_SPL_OF_CONTROL=y
CONFIG_SPL_OF_LIBFDT=y
CONFIG_SPL_OF_TRANSLATE=y
CONFIG_SPL_FIT_SIGNATURE=y
CONFIG_SPL_WATCHDOG_SUPPORT=y
CONFIG_SPL_DRIVERS_MISC_SUPPORT=y
CONFIG_SPL_TIMER=y
CONFIG_SPL_CLK=y

# Emulators should use CONFIG_TPM_ATMEL_TWI
# CONFIG_TPM_ATMEL_TWI=y
CONFIG_TPM_TIS_INFINEON=y
CONFIG_ASPEED_TPM=y

# Leave this commented (build-step feature)
# CONFIG_ASPEED_RECOVERY_BUILD=y

# Disabled commands (save space)
CONFIG_CMD_IMLS=n
CONFIG_CMD_FDT=n
CONFIG_CMD_ELF=n
CONFIG_CMD_XIMG=n
CONFIG_CMD_NET=n
CONFIG_EFI_LOADER=n
CONFIG_CMD_FPGA=n
CONFIG_CMD_SETEXPR=n
# CONFIG_CMD_FLASH is not set
# CONFIG_DISPLAY_CPUINFO is not set
CONFIG_BOOTDELAY=3

# Migrate to upstream
CONFIG_CLK=y
CONFIG_WDT=y
CONFIG_WDT_ASPEED=y
CONFIG_SYSRESET=y
CONFIG_AST_TIMER=y
CONFIG_SYS_MALLOC_F_LEN=0x800

# Enable TPM2 SPI module
# CONFIG_SPL_SPI_SUPPORT=y
# CONFIG_TPM_V2=y
# CONFIG_TPM2_TIS_SPI=y

# use SOFT_SPI
# CONFIG_DM_GPIO=y
# CONFIG_ASPEED_GPIO=y
# CONFIG_SPL_GPIO_SUPPORT=y
# CONFIG_SOFT_SPI=y

# Enable commands
# CONFIG_CMD_TPM_V2=y
