if ASPEED_AST2600

config SYS_CPU
	default "armv7"

config FMC_DUAL_BOOT
	bool FMC_DUAL_BOOT
	default n
	help
	  enable/disable fmc watchdog 2 dual boot feature.

choice
	prompt "AST2600 board select"
	depends on ASPEED_AST2600
	default TARGET_EVB_AST2600

config TARGET_EVB_AST2600
	bool "EVB-AST2600"
	depends on ASPEED_AST2600
	help
	  EVB-AST2600 is Aspeed evaluation board for AST2600A0 chip.
	  It has 512M of RAM, 32M of SPI flash, two Ethernet ports,
	  4 Serial ports, 4 USB ports, VGA port, PCIe, SD card slot,
	  20 pin JTAG, pinouts for 14 I2Cs, 3 SPIs and eSPI, 8 PWMs.

config TARGET_FPGA_AST2600
	bool "FPGA-AST2600"
	depends on ASPEED_AST2600
	help
	  FPGA-AST2600 is Aspeed FPGA board for AST2600 chip.
	  This is mainly for internal development. Note that
	  most implementation is co-code with EVB-AST2600.

config TARGET_CISCO_CHURCHILLMONO
	bool "CISCO-CHURCHILLMONO"
	depends on ASPEED_AST2600
	help
	  CISCO-CHURCHILLMONO is BMC board with AST2600 chip.

config TARGET_FACEBOOK_CLOUDRIPPER
	bool "FACEBOOK-CLOUDRIPPER"
	depends on ASPEED_AST2600
	help
	  FACEBOOK-CLOUDRIPPER is BMC board with AST2600 chip.

config TARGET_FACEBOOK_ELBERT
	bool "FACEBOOK-ELBERT"
	depends on ASPEED_AST2600
	help
	  FACEBOOK-ELBERT is BMC board with AST2600 chip.

config TARGET_FACEBOOK_FUJI
	bool "FACEBOOK-FUJI"
	depends on ASPEED_AST2600
	help
	  FACEBOOK-FUJI is BMC board with AST2600 chip.

config TARGET_FACEBOOK_MERU
   bool "FACEBOOK-MERU"
   depends on ASPEED_AST2600
   help
     FACEBOOK-MERU is BMC board with AST2600 chip.

config TARGET_SLT_AST2600
	bool "SLT-AST2600"
	depends on ASPEED_AST2600
	help
	  SLT-AST2600 is Aspeed SLT board for AST2600 chip.

config TARGET_AST2600_INTEL
	bool "AST2600-INTEL"
	depends on ASPEED_AST2600
	help
	  AST2600-INTEL is an Intel Eagle Stream CRB with
	  AST2600 as the BMC.

config TARGET_FB_AST_GEN_6
	bool "Facebook ast26xx based platform"
	select FB_AST_GEN_6

endchoice

source "board/aspeed/evb_ast2600/Kconfig"
source "board/aspeed/fpga_ast2600/Kconfig"
source "board/aspeed/slt_ast2600/Kconfig"
source "board/aspeed/ast2600_intel/Kconfig"
source "board/aspeed/cisco_churchillmono/Kconfig"
source "board/aspeed/facebook_cloudripper/Kconfig"
source "board/aspeed/facebook_elbert/Kconfig"
source "board/aspeed/facebook_fuji/Kconfig"
source "board/fb-obmc/Kconfig"

endif
